.form-demo {
    width: 500px;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
    color: #393939;
}

.xy-button + .xy-button {
    margin-left: 10px;
}
